@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:host {
  display: block;
  padding: 180px 430px 267px 335px;
  position: relative;
  background-color: var(--primary-lighter-color);
  width: auto;

  @include media-breakpoint-down(md) {
    padding: 115px 0 0;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

h3 {
  color: var(--light-dark-color);
  margin-bottom: 94px;
  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }
}

.contact-section__cards-wrapper {
  display: flex;

  > * {
    margin-right: 110px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    > * {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
}

img {
  &:first-of-type {
    position: absolute;
    left: 0;
  }

  &:last-of-type {
    position: absolute;
    right: -110px;
    top: 50px;
  }

  @include media-breakpoint-down(md) {
    max-width: 30%;
  }
}
