<h3 class="mat-display-3">
  Contact
</h3>


<div class="contact-section__cards-wrapper">
  <sf-contact-info-card>
    <ng-container heading>
      Location
    </ng-container>

    <ng-container firstInfoLine>
      Mccall St 102
    </ng-container>

    <ng-container secondInfoLine>
      1401 Copenhagen
    </ng-container>
  </sf-contact-info-card>

  <sf-contact-info-card>
    <ng-container heading>
      Connection
    </ng-container>

    <ng-container firstInfoLine>
      +42 4562 7892
    </ng-container>

    <ng-container secondInfoLine>
      medcannabe@can.net
    </ng-container>
  </sf-contact-info-card>

  <sf-contact-info-card>
    <ng-container heading>
      opening hours
    </ng-container>

    <ng-container firstInfoLine>
      Mn - Fr 09:00 - 17:00
    </ng-container>

    <ng-container secondInfoLine>
      St - Sn 10:00 - 13:00
    </ng-container>
  </sf-contact-info-card>
</div>

<img src="../../../../../assets/images/contact_graphic_element_2.png"  alt=""/>
<img src="../../../../../assets/images/contact_graphic_element.png"  alt=""/>
