@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:host {
  display: block;
  background-color: var(--light-blue-color);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 110px;
}

.product {
  &__description-wrapper {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

sf-product-gallery {
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}
