@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:host {
  display: block;

  &.primary {
    span {
      color: var(--light-dark-color-3);

      &.two-line-title {
        &__second-line {
          color: var(--light-dark-color-2);
        }
      }
    }
  }

  &.secondary {
    span {
      color: var(--light-grey-color);

      &.two-line-title {
        &__second-line {
          color: var(--light-dark-color-2);
        }
      }
    }
  }
}

span {
  font-size: 110px;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  display: block;
  margin: 0;
  line-height: 1;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    font-size: 313px;
  }
}

.two-line-title {
  &__second-line {
    z-index: 0;
    padding-left: 80px;
    margin-top: 0;

    @include media-breakpoint-up(lg) {
      margin-top: -120px;
    }
  }
}
