<footer class="row">
  <div class="col-6 col-md-2">
    <span class="mat-body-2">
      Navigation
    </span>

    <ul class="main-footer__nav-links">
      <li>
        <a href="">
          Home
        </a>

        <a href="">
          Blog
        </a>

        <a href="">
          Shop
        </a>
      </li>
    </ul>
  </div>

  <div class="col-6 col-md-2">
    <span class="mat-body-2">
      Navigation
    </span>

    <ul>
      <li>
        <a mat-icon-button href="">
          <mat-icon>
            call
          </mat-icon>
        </a>

        <a href="" mat-icon-button>
          <mat-icon>
            facebook
          </mat-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>
