:host {
  display: block;
  background-color: var(--primary-color);
  padding: 92px 108px 97px;
  position: relative;
}

span {
  color: var(--light-grey-color);
  margin-bottom: 43px;
  display: block;
}

.mat-form-field {
  width: 380px;
}

div {
  display: flex;
  align-items: center;
}

button {
  margin-top: -20px;
  height: 59px;
  margin-left: 19px;
}

img {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: -130px;
}
