<span class="mat-display-2">
  Stay in the loop <br class="d-none d-md-block"/>
  on our latest<br class="d-none d-md-block" />
  special offers<br class="d-none d-md-block"/>
</span>

<div>
  <mat-form-field appearance="fill" color="primary" >
    <mat-label>ENTER EMAIL</mat-label>
    <input type="text" matInput [formControl]="emailControl"/>
  </mat-form-field>

  <button type="button" mat-stroked-button class="link-button">
    Sign up
  </button>
</div>

<img src="../../../../../assets/images/subscribe_form_graphic.png" alt="">
