:host {
  display: block;
}

img {
  margin-bottom: 35px;
  width: 100%;
}

h6 {
  color: var(--light-dark-color);
  margin-bottom: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

span {
  font-size: 24px;
  color: var(--light-dark-color);
  font-weight: 300;
  margin-bottom: 25px;
  display: block;
}

