<div class="container">
  <nav class="row">
    <div class="col-6 col-md-2 main-nav__logo-wrapper">
      <img src="../../../../../assets/images/logo.png" alt="logo" *ngIf="theme === 'primary'">
      <img src="../../../../../assets/images/logo--accent.png" alt="logo" *ngIf="theme === 'accent'">
    </div>

    <div class="main-nav__link-wrapper  col-6 d-none d-md-flex">
      <a *ngFor="let navLink of navLinks" [routerLink]="navLink.path" [routerLinkActive]="'main-nav__link--active'" [routerLinkActiveOptions]="{exact: true}">
        {{ navLink.label }}
      </a>
    </div>

    <div class="main-nav__extra-wrapper offset-3 offset-md-1 offset-xl-2 col-xl-2 col-3">
      <mat-form-field class="d-none d-md-block">
        <input type="text" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-icon-button>
        <mat-icon>
          person_outline
        </mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>
          shopping_cart
        </mat-icon>
      </button>

      <button mat-icon-button class="d-md-none" (click)="openNav()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>
  </nav>
</div>

<sf-navigation-list class="d-md-none" *ngIf="navbarOpened$ | async" (closeIconClick)="onCloseIconClick()"></sf-navigation-list>
