@import '../../../../../assets/styles/material-theme';

$accent-map: map-get($theme, accent);
$accent-color: mat-color($accent-map, main);

:host {
  display: block;
  background-color: var(--light-blue-color);
}

section {
  position: relative;
  padding-bottom: 100px;

  h2, h3 {
    margin-bottom: 0;
    color: $accent-color;
    position: relative;
    z-index: 1;
  }

  p {
    margin-top: 37px;
    color: var(--light-dark-color);
    margin-bottom: 98px;
  }
}

sf-header {
  margin-bottom: 280px;
}

.home-page {
  &__section {
    &__main-image-wrapper {
      position: absolute;
      right: 0;
      top: -100px;
      z-index: 0;
    }

    &__secondary-img {
      position: absolute;
      bottom: -140px;
      right: -200px;
      z-index: -1;
    }
  }

  &__second-section {
    &__main-image-wrapper {
      position: absolute;
      left: 0;
      top: -100px;
      z-index: 0;
    }

    &__extra-img {
      position: absolute;
      top: -90px;
      left: 569px;
      z-index: -1;
    }

    &__secondary-img {
      position: absolute;
      bottom: -140px;
      left: -200px;
      z-index: -1;
    }
  }

  &__second-section-wrapper {
    margin-top: 231px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
  }

  &__wave-img {
    &__1 {
      margin-left: auto;
      display: block;
    }

    &__2 {
      margin-left: auto;
      display: block;
      margin-right: 210px;
      margin-top: 40px;
    }
  }

  &__featured-products {
    &__title {
      color: var(--primary-color);
    }
  }

  &__blog-section {
    &__blog-card--move-to-top {
      margin-top: -50px;
    }
  }

  &__extra-blog-discover-row {
    .col-12 {
      justify-content: flex-end;
      display: flex;
      margin-top: -40px;
    }
  }

  &__blog-section-row {
    margin-bottom: 150px;
  }

  &__extra-blog-graphic {
    display: block;
    margin-left: auto;
    margin-top: -220px;
  }

  &__blog-title {
    font-size: 313px;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
    color: var(--light-dark-color-3);
    display: block;
    margin: 0;
    line-height: 1;
    position: relative;
    z-index: 1;
    &.home-page__blog-title--secondary {
      color: var(--light-dark-color-2);
      z-index: 0;
      padding-left: 80px;
      margin-top: -120px;
    }
  }

  &__blog-section-wrapper {
    margin-top: 325px;
  }

  &__contact-section-wrapper {
    margin-top: 200px;
  }

  &__subscribe-form-section {
    margin-top: -50px;
    position: relative;
    z-index: 1;
  }
}
