@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:host {
  display: block;
  background-color: var(--light-blue-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  position: relative;
  padding-bottom: 100px;

  @include media-breakpoint-down(md) {
    padding-bottom: 10px;
  }

  h2, h3 {
    margin-bottom: 0;
    color: var(--accent-color);
    position: relative;
    z-index: 1;
  }

  p {
    margin-top: 37px;
    color: var(--light-dark-color);
    margin-bottom: 98px;
  }
}

sf-header {
  margin-bottom: 280px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 111px;
  }
}

.home-page {
  &__section {
    &__main-image-wrapper {
      position: absolute;
      right: 0;
      top: -100px;
      z-index: 0;
      max-width: 55%;

      @include media-breakpoint-down(lg) {
        margin-top: 83px;
        position: relative;
        top: unset;
        max-width: 100%;
        margin-bottom: 200px;
      }
    }

    &__secondary-img {
      position: absolute;
      bottom: -140px;
      right: -200px;
      z-index: -1;
    }
  }

  &__second-section {
    &__main-image-wrapper {
      position: absolute;
      left: 0;
      top: -100px;
      z-index: 0;
    }

    &__extra-img {
      position: absolute;
      top: -90px;
      left: 569px;
      z-index: -1;
    }

    &__secondary-img {
      position: absolute;
      bottom: -140px;
      left: -200px;
      z-index: -1;

      @include media-breakpoint-down(lg) {
        left: -30px;
        bottom: 190px;
        max-height: 160px;
      }
    }

    &__read-more-btn {
      margin-top: 90px;
      width: auto;
    }
  }

  &__second-section-wrapper {
    margin-top: 231px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(lg) {
      margin-top: 100px;
      padding-bottom: 0;
    }
  }

  &__wave-img {
    &__1 {
      margin-left: auto;
      display: block;

      @include media-breakpoint-down(lg) {
        max-width: 30%;
      }
    }

    &__2 {
      margin-left: auto;
      display: block;
      margin-right: 210px;
      margin-top: 40px;

      @include media-breakpoint-down(lg) {
        max-width: 30%;
        margin-right: 30px;
        margin-top: 10px;
      }
    }
  }

  &__featured-products {
    &__title {
      color: var(--primary-color);

      @include media-breakpoint-down(lg) {
        margin-bottom: 40px;
      }
    }
  }

  &__blog-section {
    &__blog-card--move-to-top {
      margin-top: -50px;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }

  &__extra-blog-discover-row {
    .col-12 {
      justify-content: flex-end;
      display: flex;
      margin-top: -40px;


      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }
  }

  &__blog-section-row {
    margin-bottom: 150px;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
    }
  }

  &__extra-blog-graphic {
    display: block;
    margin-left: auto;
    margin-top: -220px;

    @include media-breakpoint-down(md) {
      max-width: 20%;
      margin-top: -70px;
    }
  }

  &__blog-section-wrapper {
    margin-top: 325px;
    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__contact-section-wrapper {
    margin-top: 200px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__subscribe-form-section {
    margin-top: -50px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
      padding: 0;
    }
  }
}

sf-product-card {
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}
