body, html, * {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

* {
  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  height: 100vh;
}

button {
  text-transform: uppercase;
}

.link-button {
  color: var(--light-grey-color) !important;
  border-color: var(--light-grey-color) !important;
  text-transform: uppercase;
  font-size: 18px;

  &.link-button--primary {
    color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
  }
}

.mat-stroked-button {
  &.mat-secondary {
    color: var(--accent-color);
  }
}

.mat-form-field {
  &.mat-form-field-appearance-fill.mat-primary {
    .mat-form-field-flex {
      background-color: var(--light-grey-color);
    }

    .mat-form-field-label-wrapper {
      label {
        color: var(--light-dark-color);
      }
    }

    input {
      &::placeholder {
        color: var(--light-dark-color);
      }
    }
  }
}

.basic-input-field {
  .mat-form-field-outline {
    background-color: var(--light-grey-color);
    border-radius: 5px;
  }

  .mat-form-field-outline {
    background-color: var(--light-grey-color);
    border-radius: 5px;
  }
}
