:root {
  --light-grey-color: #f5f7ff;
  --light-dark-color: #0d0d0d;
  --light-dark-color-2: #95b8bf;
  --light-dark-color-3: #2e5955;
  --light-blue-color: #f4f7fe;
  --sm-container-max-width: 540px;
  --md-container-max-width: 720px;
  --lg-container-max-width: 960px;
  --xl-container-max-width: 1140px;
  --xxl-container-max-width: 1520px;
}
