@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
  padding-top: 50px;
  padding-bottom: 80px;
  &::ng-deep {
    .mat-form-field-flex {
      width: 57px;
    }
  }
}

h1, .product-description__price {
  font-size: 50px;
  color: var(--light-grey-color);
  font-weight: 700;
  font-family: "Heebo", sans-serif;

  @include media-breakpoint-up(md) {
    font-size: 90px;
  }
}

p {
  margin-top: 30px;
  color: var(--light-grey-color);
  margin-bottom: 54px;
}

span {
  color: var(--light-grey-color);
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
}

div {
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}
