<h1>
  Magna aliqua
</h1>

<p class="mat-body-2">
  Aliquam id diam maecenas ultricies mi eget mauris. At auctor urna nunc id cursus metus. Massa sapien faucibus et
  molestie ac feugiat sed.
</p>

<span class="mat-display-2 product-description__price">
  $28.99
</span>

<div>
  <span class="mat-headline">
    Quantity:
  </span>

  <mat-form-field class="basic-input-field">
    <input matInput min="1" max="10" [formControl]="quantityControl" type="number" />
    <mat-error *ngIf="quantityControl.hasError('max')">
      Maksymalna ilość produktów została przekroczona
    </mat-error>

    <mat-error *ngIf="quantityControl.hasError('min')">
      Zamów minimalnie 1 produkt
    </mat-error>
  </mat-form-field>
</div>

<button mat-stroked-button class="link-button" type="button" (click)="onActionBtnClick()">
  Add to card
</button>


